
.chips__container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.title{
    margin: 1rem 0;
}

.chip{
    background-color: var(--var-chip-background);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: default;
}

.chip:hover{
    background-color: var(--var-chip-background-dark);
}

.chip-selected{
    background-color: var(--var-color-primary);
    color: white;
}

.chip-selected:hover{
    background-color: var(--var-color-primary);
    color: white;
}

.chip__accent{
    color: white;
    background-color: var(--var-color-accent);
}

.chip__accent:hover{
    background-color: var(--var-color-accent);
    color: white;
}

.chip__warn{
    background-color: var(--var-color-warn);
}

.chip__warn:hover{
    background-color: var(--var-color-warn);
    color: white;
}

.action__chip{
    display: inline-flex;
    gap: 0.5rem;
    align-content: center;
}

.chip__action{
    border: none;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 251, 251);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}


/* Chips Stacked */


.chips__container--stacked{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chip__stacked{
    max-width: 200px;
}