
.drawer__container{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(15rem, 15%) 1fr;
}

.sidebar{
    border-right: 2px solid grey;
}


.drawer__header{
    position: sticky;
    padding: 1rem;
    top: 0;
    background-color: white;
}

nav.drawer__list{
    overflow-y: auto;    
}


.drawer__label{
    font-size: 0.875rem;
    font-weight: 400;
    color: grey;
}

.nav__list-item{
 display: flex;
 height: 3rem;
 gap: 2rem;
 padding: 0 0.5rem 0;
 align-items: center;
 margin: 0.5rem;
}

.nav__list-item:hover{
    background-color: rgb(185, 185, 185);
    border-radius: 0.5rem;
}


.content__header{
    padding: 1.5rem 1rem;
    background-color: var(--var-color-primary);
    color: white;
}

.content__section p{
    line-height: 1.5rem;
    word-spacing: 4px;
    padding: 1rem;
}