

/* Positions */

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}


.top-40{
    top: 40%;
}


/* flex */


.flex__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.flex__row--start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.flex__row--center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex__row--end{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.flex__column{
    display: flex;    
    flex-direction: column;
}

.flex__column--end{
    display: flex;    
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.flex__column--center{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


/* flex order */

.order-0{
    order: 0;
}

.order-1{
    order: 1;
}

.order-2{
    order: 2;
}

.order-3{
    order: 3;
}

.order-4{
    order: 4;
}

.order-5{
    order: 5;
}


/* width % */

.width-10{
    width: 10%;
}

.width-20{
    width: 20%;
}

.width-30{
    width: 30%;
}

.width-40{
    width: 40%;
}

.width-50{
    width: 50%;
}

.width-60{
    width: 60%;
}

.width-70{
    width: 70%;
}

.width-100{
    width: 100%;
}