
.tabs__container{   
    max-width: fit-content;
}

.tab__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    padding: 1rem 2rem;
    cursor: pointer;
    color: grey;
}

.tab__container--column{
    flex-direction: column;
}

.tab__container i{
    font-size: 1.2rem;
}

.tab__container h3{
    white-space: nowrap;
}

.tab__container:hover{
    background-color: var(--var-chip-background);
}

.tab__title{
    text-transform: uppercase;
    letter-spacing: 1px;
    /* color: grey; */
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
}

.tab__container--active{
    border-bottom: 3px solid var(--var-color-primary);
    color: var(--var-color-primary);

}




@media screen and (max-width:600px) {
    .tab__title{
        font-size: 0.8rem;
    }

    .tab__container{
        padding: 0.5rem 1rem;
    }
}