
/* card 1 */

.card__1{
    background-color: white;
    display: flex;
    max-width: 22rem;
    flex-direction: column;
    margin: 3rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
}

.img__bg{
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.title{
   font-size: 1.25rem;
   font-weight: 500;
   color: black;
   line-height: 2rem;
}

.subtitle{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   color: var(--var-text-color-secondary);
}

.info__primary{
    padding: 1rem;    
}

.info__secondary{
     padding: 0 1rem 1rem;
     color: var(--var-text-color-secondary);
}

.card__actions{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.action__buttons{
    display: flex;
    padding: 0.5rem;
}

.action__icons{
    display: flex;
    align-items: center;
}

.btn{
    border: none;
    background-color: white;
    color: var(--var-color-primary);
    height: 2.25rem;
    width: 100%;
    padding: 0 0.5rem;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 700;
}

.icon{
    width: 1.5rem;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
}
