
/* card 2 */

.card__2{
    background-color: white;
    display: flex;
    max-width: 22rem;
    position: relative;
    margin: 3rem 0;
    flex-direction: column;
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
}

/* .info__container-1{
    position: absolute;
    top: 50%;
} */

.info__primary-2{
    position: absolute;
    padding: 1rem;  
    top: 9rem;  
}

.info__secondary-2{
     padding: 1rem 1rem 0.5rem;
     color: var(--var-text-color-secondary);
}

.img__bg{
    max-width: 100%;
    object-fit: cover;
    /* border-radius: 0.2rem; */
}

.title-2{
   font-size: 1.25rem;
   font-weight: 500;
   color: white;
   line-height: 2rem;
}

.subtitle-2{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   color: white;
}


.card__actions-2{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.action__buttons-2{
    display: flex;
    padding: 0.5rem;
}
.action__icons-2{
    display: flex;
    align-items: center;
}

.btn-2{
    border: none;
    background-color: white;
    color: var(--var-color-primary);
    font-weight: 700;
    padding: 0 0.5rem;
    height: 2.25rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.icon-2{
    width: 1.5rem;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
}
