/* outline for all the elements for development only */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* *{
    outline: 1px solid red;
} */

:root{
    --var-color-primary: #6200ee;
    --var-text-color-secondary: rgba(0,0,0,0.54)
}

/* Reset */

html,body{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

h2,h3{
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: 1rem;
}

.card{
    background-color: white;
    display: flex;
    max-width: 22rem;
    margin: 3rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
}



