<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Cards</title>
</head>

<body>

    <main>
        <section class="container">

            <h3 class="container__title">Cards Overview</h3>

            <!-- ********* card 1 ********* -->

            <div class="flex__row">

                <div class="card">
                    <img class="img__bg" src="../../assets/background.jpeg" alt="lake">

                    <div class="info__primary">
                        <h2 class="card__title">Our Changing Planet</h2>
                        <h3 class="card__subtitle">by Shivam Pandey</h3>
                    </div>

                    <div class="info__secondary">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, beatae?
                        </p>
                    </div>

                    <div class="card__actions">
                        <div class="action__buttons">
                            <button class="button__flat card__button">READ</button>
                            <button class="button__flat card__button">BOOKMARK</button>
                        </div>
                        <div class="action__icons">
                            <i class="far fa-heart icon"></i>
                            <i class="fas fa-share-alt icon"></i>
                            <i class="fas fa-ellipsis-v icon"></i>
                        </div>
                    </div>

                </div>


                <!-- Card 2 -->


                <div class="card position-relative">
                    <img class="img__bg" src="../../assets/background.jpeg" alt="lake">
                    <div class="info__primary position-absolute top-40">
                        <h2 class="card__title text-white">Our Changing Planet</h2>
                        <h3 class="card__subtitle text-white">by Shivam Pandey</h3>
                    </div>

                    <div class="info__secondary">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, beatae?
                        </p>
                    </div>
                    <div class="card__actions">
                        <div class="action__buttons">
                            <button class="button__flat card__button">READ</button>
                            <button class="button__flat card__button">BOOKMARK</button>
                        </div>
                        <div class="action__icons">
                            <i class="far fa-heart icon"></i>
                            <i class="fas fa-share-alt icon"></i>
                            <i class="fas fa-ellipsis-v icon"></i>
                        </div>
                    </div>
                </div>


                <!-- Card 3 -->


                <div class="card flex__column">
                    <img class="img__bg order-1" src="../../assets/background.jpeg" alt="lake">
                    <div class="info__primary order-0">
                        <h2 class="card__title">Our Changing Planet</h2>
                        <h3 class="card__subtitle">by Shivam Pandey</h3>
                    </div>

                    <div class="info__secondary order-2">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, beatae?
                        </p>
                    </div>
                    <div class="card__actions order-3">
                        <div class="action__buttons">
                            <button class="button__flat card__button">READ</button>
                            <button class="button__flat card__button">BOOKMARK</button>
                        </div>
                        <div class="action__icons">
                            <i class="far fa-heart icon"></i>
                            <i class="fas fa-share-alt icon"></i>
                            <i class="fas fa-ellipsis-v icon"></i>
                        </div>
                    </div>
                </div>


                <!-- ********* card 4 ********* -->

                <div class="card">
                    <img class="img__bg" src="../../assets/background.jpeg" alt="lake">

                    <div class="info__primary">
                        <h2 class="card__title">Our Changing Planet</h2>
                        <h3 class="card__subtitle">by Shivam Pandey</h3>
                    </div>

                    <div class="info__secondary">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, beatae?
                        </p>
                    </div>

                    <div class="card__actions">
                        <div class="action__buttons">
                            <button class="button__flat card__button">READ</button>
                            <button class="button__flat card__button">BOOKMARK</button>
                        </div>
                        <div class="action__icons hide">
                            <i class="far fa-heart icon"></i>
                            <i class="fas fa-share-alt icon"></i>
                            <i class="fas fa-ellipsis-v icon"></i>
                        </div>
                    </div>

                </div>

                <!-- ********* card 5 ********* -->
                <div class="card">
                    <img class="img__bg" src="../../assets/background.jpeg" alt="lake">

                    <div class="info__primary">
                        <h2 class="card__title">Our Changing Planet</h2>
                        <h3 class="card__subtitle">by Shivam Pandey</h3>
                    </div>

                    <div class="info__secondary">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, beatae?
                        </p>
                    </div>

                    <div class="card__actions flex__column--end">
                        <div class="action__buttons hide">
                            <button class="button__flat card__button">READ</button>
                            <button class="button__flat card__button">BOOKMARK</button>
                        </div>
                        <div class="action__icons">
                            <i class="far fa-heart icon"></i>
                            <i class="fas fa-share-alt icon"></i>
                            <i class="fas fa-ellipsis-v icon"></i>
                        </div>
                    </div>

                </div>

                <!-- ********* card 6 ********* -->
            <div class="card flex__row">
                <img class="img__bg order-0 width-30" src="../../assets/background.jpeg" alt="lake">
            
                <div class="info__primary order-1 width-60">
                    <h2 class="card__title">Our Changing Planet</h2>
                    <h3 class="card__subtitle">by Shivam Pandey</h3>
                </div>
            
                <div class="info__secondary hide">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, beatae?
                    </p>
                </div>
            
                <div class="card__actions width-100 order-4">
                    <div class="action__buttons">
                        <button class="button__flat card__button">READ</button>
                        <button class="button__flat card__button">BOOKMARK</button>
                    </div>
                    <div class="action__icons">
                        <i class="far fa-heart icon"></i>
                        <i class="fas fa-share-alt icon"></i>
                        <i class="fas fa-ellipsis-v icon"></i>
                    </div>
                </div>
            
            </div>



        </section>
    </main>

</body>

</html>