<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Chips</title>
</head>

<body>

    <main>
        <section class="container">
            <div class="container__title">
                Basic Chips
            </div>
            <div class="chips__container">
                <div class="chip">One Fish</div>
                <div class="chip">Two Fish</div>
                <div class="chip">Two Fish</div>
                <div class="chip chip-selected">Primary fish</div>
                <div class="chip chip-selected">Primary fish</div>
                <div class="chip">Two Fish</div>
                <div class="chip chip-selected">Primary fish</div>
                <div class="chip chip__accent">Accent fish</div>
            </div>
        </section>

        <section class="container">
            <div class="container__title">
                Stacked Chips
            </div>
            <div class="chips__container flex__column">
                <div class="chip chip-selected chip__stacked">none</div>
                <div class="chip chip-selected chip__stacked">Primary</div>
                <div class="chip chip-selected chip__stacked chip__accent">Accent</div>
                <div class="chip chip-selected chip__stacked chip__warn">Warn</div>
            </div>
        </section>

        <section class="container">
            <div class="container__title">
                Chips with action
            </div>
            <div class="chips__container">
                <div class="chip action__chip">Lemon<button class="chip__action">x</button></div>
                <div class="chip action__chip">Lime<button class="chip__action">x</button></div>
                <div class="chip action__chip">Apple<button class="chip__action">x</button></div>
                <div class="chip action__chip">Orange<button class="chip__action">x</button></div>
            </div>
        </section>
    </main>

</body>

</html>