<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Headers</title>
</head>

<body>

    <main>
        <section>
            <header class="header header__fixed">
                <div class="header__container">
                    <button class="menu header__action">
                        <i class="fas fa-bars"></i>
                    </button>
                    <h1 class="header__title">Fixed</h1>
                    <button class="download header__action">
                        <i class="fas fa-download"></i>
                    </button>
                    <button class="print header__action">
                        <i class="fas fa-print"></i>
                    </button>
                    <button class="bookmark header__action">
                        <i class="fas fa-bookmark"></i>
                    </button>
                </div>
            </header>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maiores architecto necessitatibus
                    hic quos molestiae neque consequatur distinctio atque deleniti. Similique recusandae nisi corporis,
                    pariatur soluta neque ipsa molestiae dolorum voluptas assumenda quos, numquam officiis ea obcaecati?
                    A quam quo corrupti, commodi inventore praesentium ducimus sequi, exercitationem voluptatibus
                    corporis provident atque doloribus voluptate adipisci reiciendis tenetur officia sit magni sapiente
                    animi expedita unde. Voluptates fugiat odit soluta nihil, porro, dicta iusto, sapiente amet debitis
                    nam enim et deserunt quod exercitationem aliquid aut rem error illum unde! Ipsum praesentium sequi,
                    deleniti tempore ipsa at repellendus sint vitae saepe? Delectus eius rem sed dolor, tenetur
                    voluptatem veniam eveniet magnam excepturi cumque optio tempora. Saepe nobis earum exercitationem
                    voluptatibus nemo quas nesciunt impedit natus perferendis quasi iste cupiditate numquam vitae
                    officiis, rem est omnis. Adipisci quibusdam sunt cum commodi non? Illo, beatae exercitationem qui
                    nesciunt distinctio hic corrupti expedita! Natus possimus molestias nemo numquam voluptatum alias
                    eos quaerat laudantium tempore labore saepe ducimus perferendis nulla ratione ex hic amet facere,
                    itaque quidem nesciunt esse ipsam odit incidunt minus? Veniam earum eaque hic vel laboriosam labore
                    at sit facere, fugiat atque. Saepe, repudiandae. Ipsum vero soluta molestias atque laborum
                    voluptatum fugit quod dolor nihil?</p>
            </div>

        </section>
    </main>

</body>

</html>