<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">

    <title>Drawers</title>
</head>

<body>

    <main>
        <!-- <section class="container container__bg"> -->
        <div class="drawer__container">
            <aside class="drawer flex__column">
                <header class="drawer__header">
                    <h3 class="drawer__title">Awesome App</h3>
                    <small class="drawer__subtitle">email@examle.com</small>
                </header>
                <div class="drawer__nav">
                    <nav class="drawer__list flex__column">
                        <!-- <ul> -->

                        <a href="#" class="nav__list-item"><i class="fas fa-inbox"></i>Inbox</a>



                        <a href="#" class="nav__list-item"><i class="fas fa-star"></i>Starred</a>



                        <a href="#" class="nav__list-item"><i class="fas fa-paper-plane"></i>Sent</a>



                        <a href="#" class="nav__list-item"><i class="fas fa-envelope"></i>Drafts</a>


                        <hr class="list__divider" />
                        <h6 class="drawer__label">Labels</h6>


                        <a href="#" class="nav__list-item"><i class="fas fa-user-friends"></i>Family</a>



                        <a href="#" class="nav__list-item"><i class="fas fa-user-friends"></i>Friends</a>



                        <a href="#" class="nav__list-item"><i class="fas fa-briefcase"></i>Work</a>


                        <hr class="list__divider" />


                        <a href="#" class="nav__list-item"><i class="fas fa-cog"></i>Settings</a>



                        <a href="#" class="nav__list-item"><i class="fas fa-hands-helping"></i>Help</a>


                        <!-- </ul> -->
                    </nav>
                </div>
            </aside>

            <div class="content__section position-relative">
                <h2 class="content__header">Permanent Drawer</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>

                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                <br>
                <p>


                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                    doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                    repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                    aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                    pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                    reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                    sed
                    temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                    maiores
                    quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                </p>
                    <br>
                    <p>
                    
                    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                        doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                        repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                        aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                        pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                        reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                        sed
                        temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                        maiores
                        quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                    </p>
                    <br>
                    <p>
                    
                    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora vitae perferendis eum ad
                        doloremque, voluptatem dolor vel exercitationem facere reprehenderit consectetur illo eveniet
                        repellendus tempore nobis voluptatum. Itaque quod laborum possimus adipisci aut ea at provident
                        aspernatur? Quisquam exercitationem repudiandae deleniti perferendis accusantium iste dolores
                        pariatur maiores, magni totam aspernatur omnis voluptates ullam ipsum! Error dolorum facilis
                        reprehenderit porro sequi sunt nobis totam rerum, fuga accusantium cumque laborum iste suscipit
                        sed
                        temporibus! Sint maxime, esse a hic distinctio possimus in ex odio quasi soluta ea voluptas
                        maiores
                        quas odit veniam ducimus quaerat quae molestias? Ducimus ex consequuntur delectus atque!
                    </p>
            </div>
        </div>

        <!-- </section> -->
    </main>

</body>

</html>