<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">

    <title>Headers</title>
</head>

<body>

    <main>
        <section class="container container__bg">

            <iframe src="standard_header.html" width="100%" height="100%" frameborder="0"></iframe>

        </section>

        <section class="container">
            <iframe src="fixed_header.html" width="100%" height="100%" frameborder="0"></iframe>

        </section>

    </main>

</body>

</html>