<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Tabs</title>
</head>

<body>


    <main class="flex__column">

        <!-- Simple text tab -->
        <div class="container container__bg center__container">

            <div class="tabs__container flex__row--center">
                <div id="text_tab" class="tab__container tab__container--active">
                    <h3 class="tab__title">Tab one</h3>
                </div>
                <div id="text_tab" class="tab__container">
                    <h3 class="tab__title">Tab Two</h3>
                </div>
                <div id="text_tab" class="tab__container">
                    <h3 class="tab__title">Tab Three</h3>
                </div>
            </div>

        </div>


        <!-- Leading Icons tab -->
        <div class="container container__bg center__container">

            <div class="tabs__container flex__row--center">
                <div id="leading_icon_tab" class="tab__container tab__container--active">
                    <i class="fas fa-clock"></i>
                    <h3 class="tab__title">Tab one</h3>
                </div>
                <div id="leading_icon_tab" class="tab__container">
                    <i class="fas fa-map tab__title"></i>
                    <h3 class="tab__title">Tab Two</h3>
                </div>
                <div id="leading_icon_tab" class="tab__container">
                    <i class="fas fa-heart tab__title"></i>
                    <h3 class="tab__title">Tab Three</h3>
                </div>
            </div>

        </div>

        <!-- Top Icons tab -->
        <div class="container container__bg center__container">

            <div class="tabs__container flex__row--center">
                <div id="top_icon_tab" class="tab__container tab__container--column tab__container--active">
                    <i class="fas fa-clock"></i>
                    <h3 class="tab__title">Tab one</h3>
                </div>
                <div id="top_icon_tab" class="tab__container tab__container--column">
                    <i class="fas fa-map tab__title"></i>
                    <h3 class="tab__title">Tab Two</h3>
                </div>
                <div id="top_icon_tab" class="tab__container tab__container--column">
                    <i class="fas fa-heart tab__title"></i>
                    <h3 class="tab__title">Tab Three</h3>
                </div>
            </div>

        </div>
    </main>

    <script src="../scripts/tabs.js"></script>

</body>

</html>