/* outline for all the elements for development only */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* *{
    outline: 1px solid red;
} */

:root{
    --var-color-primary: #3f51b5;
    --var-color-accent: #ff4081;
    --var-color-warn: #f44336;
    --var-color-primary-dark: #25327a;
    --var-text-color-secondary: rgba(0,0,0,0.54);
    --var-text-color-border: rgba(0,0,0,0.2);
    --var-chip-background: #e0e0e0;
    --var-chip-background-dark: rgb(194, 194, 194);
}

/* Reset */

html,body{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

h2,h3{
    margin: 0;
}

.container{
    border: 2px solid var(--var-text-color-border);
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 1rem;
}

.chips__container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.title{
    margin: 1rem 0;
}

.chip{
    background-color: var(--var-chip-background);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: default;
}

.chip:hover{
    background-color: var(--var-chip-background-dark);
}

.chip-selected{
    background-color: var(--var-color-primary);
    color: white;
}

.chip-selected:hover{
    background-color: var(--var-color-primary);
    color: white;
}

.chip__accent{
    color: white;
    background-color: var(--var-color-accent);
}

.chip__accent:hover{
    background-color: var(--var-color-accent);
    color: white;
}

.chip__warn{
    background-color: var(--var-color-warn);
}

.chip__warn:hover{
    background-color: var(--var-color-warn);
    color: white;
}

.action__chip{
    display: inline-flex;
    gap: 0.5rem;
    align-content: center;
}

.chip__action{
    border: none;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 251, 251);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}