/* outline for all the elements for development only */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* *{
    outline: 1px solid red;
} */

:root{
    --var-color-primary: #3f51b5;
    --var-color-accent: #ff4081;
    --var-color-warn: #f44336;
    --var-material-black: #333;
    --var-color-primary-dark: #25327a;
    --var-text-color-secondary: rgba(0,0,0,0.54);
    --var-text-color-border: rgba(0,0,0,0.2);
    --var-chip-background: #e0e0e0;
    --var-chip-background-dark: rgb(194, 194, 194);
}

/* Reset */

html,body{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,p,input{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


input[type='radio']{
    cursor: pointer;
}



/* General */

.container{
    border: 2px solid var(--var-text-color-border);
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 1rem;
}

.container__bg{
    background-color: #f0f0f0;
}

.container__title{
  font-size: 1rem;
  font-weight: 400;
  color: var(--var-text-color-secondary);
}

.center__container{
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.flex__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.flex__row--start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.flex__row--center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex__row--end{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.flex__column{
    display: flex;    
    flex-direction: column;
}

.flex__column--end{
    display: flex;    
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.flex__column--center{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.label{
    position: relative;
    margin: 2rem 0;
}


.width-100{
    width: 100%;
}


.button__primary{
    background-color: var(--var-color-primary);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    
}

.button__flat{    
    color: #bb86fc;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 4px;
    max-width: fit-content;
}

.button__flat:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.button__close{
    color: var(--var-chip-background);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;

}

.hide{
    display: none;
}

/* Cards */

.card{
    background-color: white;
    display: flex;
    max-width: 22rem;
    margin: 3rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
}


/* Badge */

.badge{
    background-color: var(--var-color-primary);
    color: white;
    padding: 4px 8px;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 50%;
}

.badge__right{
    position: absolute;
    top: -10px;
}

.badge__left{
    position: absolute;
    top: -15px;
    left: -10px;
}

.badge__large{
    font-size: 1.2rem;
    font-weight: 700;
    top: -20px;
}

.badge__red{
    background-color: var(--var-color-warn);
}

.badge__icon{
    right: -10px;
    top: -20px;
}


/* snackbar */

.snackbar{
    background-color: var(--var-material-black);
    padding: 0.5rem;
    border-radius: 4px;
    color: white;
    position: fixed;    
    min-width: 300px;
}

.snackbar p{
    padding: 0.5rem;
    font-size: 0.8rem;
}

.fixed__bottom--left{
    left: 1rem;
    bottom: 1rem;
}

.fixed__bottom--center{
    bottom: 1rem;
}


/* Dialogs */

.dialog__bg{
    background-color: var(--var-chip-background-dark);
}

.dialog__container{
    flex-direction: column;
    min-width: 256px;
}

.dialog__title{
    padding: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
}

.dialog__body{
    padding: 0 1rem;
    min-height: 3rem;
    color: var(--var-text-color-secondary);
}

.dialog__options{
    padding: 0 0.5rem 0.5rem;
}

.dialog__options--bordered{
    max-height: 150px;
    border-top: 1px solid var(--var-chip-background);
    border-bottom: 1px solid var(--var-chip-background);
    overflow-y: scroll;

}

.dialog__option{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0;
}

.dialog__option--radio{
     padding: 0.5rem 1rem;
     margin:  0.3rem;
}

.dialog__option:hover{
   background-color: #f0f0f0;
   border-radius: 8px;
   cursor: pointer;
}

.dialog__option i{
    font-size: 2.5rem;
    color: var(--var-chip-background-dark);
}


.dialog__option h4{
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}


.dialog__actions button{
    color: var(--var-color-primary);
    letter-spacing: normal;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    
}

/* Utility */

.hide{
    display: none;
}