@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import url('./components/styles/badges.css');
@import url('./components/styles/cards.css');
@import url('./components/styles/chips.css');
@import url('./components/styles/dialogs.css');
@import url('./components/styles/drawer.css');
@import url('./components/styles/header.css');
@import url('./components/styles/snackbar.css');
@import url('./components/styles/tabs.css');

/* outline for all the elements -> development use only */
/* *{
    outline: 1px solid red;
} */

:root{
    --var-color-primary: #3f51b5;
    --var-color-accent: #ff4081;
    --var-color-warn: #f44336;
    --var-material-black: #333;
    --var-color-primary-dark: #25327a;
    --var-text-color-secondary: rgba(0,0,0,0.54);
    --var-text-color-border: rgba(0,0,0,0.2);
    --var-chip-background: #e0e0e0;
    --var-chip-background-dark: rgb(194, 194, 194);
}

/* Reset */

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,p,input,a{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
}


input[type='radio']{
    cursor: pointer;
}

/* General */

.container{
    border: 2px solid var(--var-text-color-border);
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 1rem;
}

.container__bg{
    background-color: #f0f0f0;
}

.container__title{
  font-size: 1rem;
  font-weight: 400;
  color: var(--var-text-color-secondary);
}

.center__container{
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.flex__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.flex__row--start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.flex__row--center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex__row--end{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.flex__column{
    display: flex;    
    flex-direction: column;
}

.flex__column--end{
    display: flex;    
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.flex__column--center{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.label{
    position: relative;
    margin: 1rem;
}


.width-100{
    width: 100%;
}


.button__primary{
    background-color: var(--var-color-primary);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    
}

.button__flat{    
    color: #bb86fc;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 4px;
    max-width: fit-content;
}

.button__flat:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.button__close{
    color: var(--var-chip-background);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;

}


/* Cards */

.card{
    background-color: white;
    display: flex;
    max-width: 22rem;
    margin: 3rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
}

/* Utility */

.hide{
    display: none;
}