/* outline for all the elements for development only */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* *{
    outline: 1px solid red;
} */

:root{
  
}

/* Reset */

*, html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    width: 100%;
    padding: 1rem 0.5rem;
    color: inherit;
}

ul{
    list-style-type: none;
}

p{
    padding: 1rem;
}

.fas{
    size: 3rem;
}
/* Top */


.container{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(15rem, 15%) 1fr;
}

.drawer__container{
    height: 100%;
    border-right: 2px solid grey;
}

.drawer__nav{
    overflow-y: scroll;   
    height: 100%;
}


.drawer__header, .content__header{
    position: sticky;
    padding: 1rem;
    top: 0;
    background-color: white;
}

.content__header{
    background-color: purple;
    color: white;
}

.drawer__subheader{
    font-size: 0.875rem;
    font-weight: 400;
    padding: 1rem;
    color: grey;
}

.nav__list-item{
 display: flex;
 height: 3rem;
 gap: 2rem;
 padding: 0 0.5rem 0;
 align-items: center;
 margin: 0.5rem;
}

.nav__list-item:hover{
    background-color: rgb(185, 185, 185);
    border-radius: 0.5rem;
}